<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>

<div id="coach">
  <%= @question %>
</div>

<div id="trainee">
  <%= @answer %>
</div>



<p><%=link_to "ask another question", "/" %></p>


